In [1]:
import pandas as pd

In [2]:
q7=pd.read_csv("Q7.csv")

In [3]:
import numpy as np

In [4]:
q7.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [5]:
q7.mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_13728\3055818369.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  q7.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [6]:
q7.median()

C:\Users\HP\AppData\Local\Temp\ipykernel_13728\2118351251.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  q7.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [7]:
q7.mode()

             Unnamed: 0  Points  Score  Weigh
0           AMC Javelin    3.07   3.44  17.02
1    Cadillac Fleetwood    3.92    NaN  18.90
2            Camaro Z28     NaN    NaN    NaN
3     Chrysler Imperial     NaN    NaN    NaN
4            Datsun 710     NaN    NaN    NaN
5      Dodge Challenger     NaN    NaN    NaN
6            Duster 360     NaN    NaN    NaN
7          Ferrari Dino     NaN    NaN    NaN
8              Fiat 128     NaN    NaN    NaN
9             Fiat X1-9     NaN    NaN    NaN
10       Ford Pantera L     NaN    NaN    NaN
11          Honda Civic     NaN    NaN    NaN
12       Hornet 4 Drive     NaN    NaN    NaN
13    Hornet Sportabout     NaN    NaN    NaN
14  Lincoln Continental     NaN    NaN    NaN
15         Lotus Europa     NaN    NaN    NaN
16        Maserati Bora     NaN    NaN    NaN
17            Mazda RX4     NaN    NaN    NaN
18        Mazda RX4 Wag     NaN    NaN    NaN
19             Merc 230     NaN    NaN    NaN
20            Merc 240D     NaN    NaN    NaN
21             Merc 280     NaN    NaN    NaN
22            Merc 280C     NaN    NaN    NaN
23           Merc 450SE     NaN    NaN    NaN
24           Merc 450SL     NaN    NaN    NaN
25          Merc 450SLC     NaN    NaN    NaN
26     Pontiac Firebird     NaN    NaN    NaN
27        Porsche 914-2     NaN    NaN    NaN
28       Toyota Corolla     NaN    NaN    NaN
29        Toyota Corona     NaN    NaN    NaN
30              Valiant     NaN    NaN    NaN
31           Volvo 142E     NaN    NaN    NaN

In [8]:
q7.std()

C:\Users\HP\AppData\Local\Temp\ipykernel_13728\4163755922.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  q7.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [9]:
q7[['Points','Score','Weigh']].max()-q7[['Points','Score','Weigh']].min()

Points    2.170
Score     3.911
Weigh     8.400
dtype: float64

In [10]:
q7[['Points','Score','Weigh']].max()

Points     4.930
Score      5.424
Weigh     22.900
dtype: float64

In [11]:
q7[['Points','Score','Weigh']].min()

Points     2.760
Score      1.513
Weigh     14.500
dtype: float64